body {
  text-align: center;
  background: url(/img/slide.jpg) no-repeat center fixed;
  background-size: cover;
}

#intro {
	color: white;
	margin-top: 4rem;
	margin-bottom: 1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
	padding: 0 8px;
	font-size: 72px;
}

.link img {
	position: relative;
	top: 3px;
	height: 60px;
}

.link a {
	text-decoration: none;
}

.link a:visited {
	color: black;
}

.link a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

footer {
	color: black;
	position: absolute;
	bottom: 0;
	font-size: 14px;
	right: 1rem;
}