body {
  text-align: center;
  background: url(/img/slide.jpg) no-repeat center fixed;
  background-size: cover;
}

#intro {
	color: white;
	margin-top: 4rem;
	margin-bottom: 1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#links a:hover {
	opacity: 0.8;
}

footer {
	color: black;
	position: fixed;
	bottom: 0;
	font-size: 14px;
	right: 1rem;
}